body {
    overflow-x: hidden;
    max-width: 80ch;
    margin: auto;
}

p {
    white-space: wrap;
    overflow: hidden;
    max-width: 75ch;
}

h1 {
    font-size: 1.25em;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #303030;
    color: #eee;
    font-size: 1.25em;
}

.body {
    position: relative;
    top: 1.50em;
    padding-top: 5%;
    margin: auto;
}

footer {
    text-align: center;
}

.body dt {
    font-weight: bold;
    font-size: 1.05em;
}

.body dd {
    margin-left: 15px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}
